
	
	<div class="container" style="margin-top: 55px;">
    <div class="row vertical-offset-100">
    	<div class="col-md-6 col-md-offset-6">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Ticket Booking System</h3>
			 	</div>
			  	<div class="panel-body">
			    	<form [formGroup]="reservationForm" (ngSubmit)="reservationsubmit(reservationForm.value)">
		<div class="form-group input-group">
			<div class="input-group-prepend">
				<span class="input-group-text"> <i class="fa fa-user"></i> </span>
			 </div>
			<input formControlName="name" class="form-control" placeholder="Passanger Name" type="name" required autofocus>
			
		</div> <!-- form-group// -->
		<div class="form-control-feedback" *ngIf="reservationForm.controls['name'].invalid && (reservationForm.controls['name'].dirty || reservationForm.controls['name'].touched)" class="">
			<span class="text-danger align-middle" *ngIf="reservationForm.controls['name'].errors.required">
			 name is required.
			</span>
		</div>
		<div class="form-group input-group">
			<div class="input-group-prepend">
				<span class="input-group-text"> <i class="fa  fa-wheelchair"></i> </span>
			</div>
			<input formControlName="sheet_no" class="form-control" placeholder="Sheet Count" min="1" max="7" onKeyUp="if(this.value>7){this.value='7';}else if(this.value<0){this.value='0';}" type="number" required autofocus>
		</div> <!-- form-group// -->
		<div class="form-control-feedback" *ngIf="reservationForm.controls['sheet_no'].invalid && (reservationForm.controls['sheet_no'].dirty || reservationForm.controls['sheet_no'].touched)" class="">
			<span class="text-danger align-middle" *ngIf="reservationForm.controls['sheet_no'].errors.required">
			 sheet no is required.
			</span>
		</div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Book Ticket  </button>
    </div> <!-- form-group// -->      
	                                                               
</form>
		
			    </div>
			</div>
		</div>
	</div>
</div>
	