<div class="container" style="margin-top: 55px;">
    <div class="row vertical-offset-100">
    	<div class="col-md-6 col-md-offset-6">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Ticket Booking System</h3>
			 	</div>
			  	<div class="seat-row">
  <div   *ngFor="let seat of sheet_data | keyvalue: 0">
  {{seat.key}}
    <div   *ngFor="let sheet_no of seat.value | keyvalue" class=" timeline-inner" style="margin-left: 5px;">
	<span [ngClass] = "booked_data.indexOf(sheet_no.value) > -1? 'booked': 'available'" > <i class="fa  fa-wheelchair"></i>{{sheet_no.value}}
	
	</span>
	</div>
  </div>
  <button (click)="clickEvent()" class="btn btn-primary"> New Ticket  </button>
</div>

			</div>
		</div>
	</div>
</div>


